body {
  background-image: linear-gradient(bottom, rgb(202,189,212) 46%, rgb(160,57,204) 60%);
  background-image: -o-linear-gradient(bottom, rgb(202,189,212) 46%, rgb(160,57,204) 60%);
  background-image: -moz-linear-gradient(bottom, rgb(202,189,212) 46%, rgb(160,57,204) 60%);
  background-image: -webkit-linear-gradient(bottom, rgb(202,189,212) 46%, rgb(160,57,204) 60%);
  background-image: -ms-linear-gradient(bottom, rgb(202,189,212) 46%, rgb(160,57,204) 60%);
  
  background-image: -webkit-gradient(
  	linear,
  	left bottom,
  	left top,
  	color-stop(0.46, rgb(202,189,212)),
  	color-stop(0.6, rgb(160,57,204))
);
}
