body {
  font-family:"verdana";
  background-color: #FFFFFF;
}
h1 {
  color: #FFFFFF;
  font-family:"courier", "sans-serif";
  background-color: #330033;
}


input[type="text"] {
	width: 100%;
}

input[type=submit] {
	width:200px;
}

textarea {
	width: 100%;
}
