body {
  background-image: linear-gradient(300 bottom, rgb(91,213,217) 46%, rgb(160,57,204) 60%);
  background-image: -o-linear-gradient(300 bottom, rgb(91,213,217) 46%, rgb(160,57,204) 60%);
  background-image: -moz-linear-gradient(300 bottom, rgb(91,213,217) 46%, rgb(160,57,204) 60%);
  background-image: -webkit-linear-gradient(300 bottom, rgb(91,213,217) 46%, rgb(160,57,204) 60%);
  background-image: -ms-linear-gradient(300 bottom, rgb(91,213,217) 46%, rgb(160,57,204) 60%);
  
  background-image: -webkit-gradient(
  	linear,
  	300 bottom,
  	left top,
  	color-stop(0.46, rgb(91,213,217)),
  	color-stop(0.6, rgb(160,57,204))
  );
}
