body
.container {
	background-color:#FFFFFF;
	overflow: hidden;
}

.left {
	float: left;
	width: 25%;
}

.middle {
	float: left;
	width: 50%;
	background-color:#660066;
}

.right {
	float: right;
	width: 25%;
}



