body
.container {
	background-color:#FFFFFF;
	overflow: hidden;
	height: 100% position:relative;
	
}

.right {
	float: right;
<<<<<<< HEAD
	width: 25%;
	height: 100%;
	background-color: lightblue;
=======
	width: 15%;
	height:100%;
	background-color:#330033;
>>>>>>> 462d4a007ad5ed9b63ba537afca4bd5c6d442efe
}

.left {
	float: left;
<<<<<<< HEAD
	width: 25%;
	height: 100%;
	background-color: lightblue;
=======
	width: 15%;
	height:100%;
	background-color:#330033;
>>>>>>> 462d4a007ad5ed9b63ba537afca4bd5c6d442efe
}

.middle {
	width: 50%;
	margin: 0 100px;
<<<<<<< HEAD
	min-width: 1000px;
}

.box {
	width: 100%;
	margin-top: 5px;
	background-color: #C495F0;
=======
	width: 70%;
	height:100%;
	
}
html, body {height: 100%;}

h1 {
  color: #FFFFFF;
  font-family:"courier", "sans-serif";
  background-color: #330033;
>>>>>>> 462d4a007ad5ed9b63ba537afca4bd5c6d442efe
}

